.container {
	width: 60%;
	margin: auto;
	text-align: center;
	background: white;
	border: solid 1px #6495ED;

	}

p, h1 {
	font-family: 'Oswald', sans-serif;
		  
	

	}

.class {
	 width: 60%;
	}

body {

	background: url(./images/background.jpg);

}




