.container {
	width: 60%;
	margin: auto;
	text-align: center;

}

.class {
	width: 60%;
}

img {
	width: 200px;
	height:200px;
	position: absolute;
	left: 530px;
	visibility: hidden;


}

.bulbasaur {
	


}




